
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    color: #3b0110;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url("../img/bg.png") center no-repeat;
    background-size: 100% 100%;
}

.img-box img {
    display: block;
    width: 100%;
}

img {
    vertical-align: middle
}

.screen {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.logo {
    width: 38%;
    margin: 8% auto 5% auto
}

/* 文字说明背景 */
.box-bg {
    width: 65%;
    padding: 3%;
    margin: 0 auto 5% auto;
    background: rgba(255, 250, 240, 0.7);
    border: solid 1px #ccc;
    border-radius: 20px;
}

.box-bg-top {
    width: 75%;
    margin-top: 15%
}

.over {
    width: 60%
}

.icon2 {
    margin: 0 15px;
}

/* 文字说明样式1 带有图标的列表 */
.box-text-1 {
    width: 100%;
    padding-bottom: 20px;
}

.box-text-1 li {
    position: relative;
    padding-left: 4.5%;
    letter-spacing: 3px;
}

.box-text-1 li i {
    position: absolute;
    top: 0;
    left: 0;
    width: 4.5%;
    content: '';
}

.box-text-1 li i img {
    width: 60%;
    vertical-align: inherit;
}

/* 文字说明样式2  文字剧中显示 */
.box-text-2 {
    padding: 2% 0 4% 0;
    line-height: 200%;
    text-align: center;
    font-weight: bold;
}

.box-text-2 p span {
    color: #d36e15;
    padding: 0 5px;
}

.box-img-top {
    width: 75%;
    margin-top: 10%
}

.box-img-top-2 {
    width: 75%;
    margin-top: 7%
}

.box-bg .middle {
    width: 32%;
    margin: 0 auto;
}

.box-bg .senior {
    width: 45%;
    margin: 0 auto;
}

/* 按钮样式 */
.button-box {
    width: 100%;
    height: 9.5%;
    text-align: center;
}

.button {
    display: inline-block;
    height: 100%;
    background: #fcee8c;
    /*color: #23566a;*/
    color: #1b1b1b;
    padding: 0 45px;
    /*text-shadow: 2px 2px 2px #666;*/
    letter-spacing: 20px;
    text-indent: 20px;
    border: solid 1px #c09150;
    border-radius: 25px;
    box-shadow: 0 5px 10px -3px #c09150;
}

.button-box-s .button {
    margin: 0 3%;
}

/* 游戏结束 */
.over-text {
    margin: 20% auto 10% auto;
    text-align: center;
    font-size: 54px;
    line-height: 80px;
}

/** 游戏界面 **/

.part-text {
    position: absolute;
    top: 12%;
    left: 10%;
    z-index: 2;
    width: 80%;
    padding: 1% 0;
    text-align: center;
    background: rgba(255, 250, 240, 0.7);
    line-height: 170%;
    border-radius: 50px;
}

.part-text-small {
    left: 15%;
    width: 70%;
}

.part-text span {
    color: #d36e15;
    padding: 0 5px;
}

.part {

    margin: 20% auto 0 auto;
    background: #fff3a0;
    border: solid 10px #d68742;
    box-shadow: 0 0 15px 5px #e29655;
    border-radius: 25px;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    line-height: 150%;
    color: #525050;
    font-family: Arial;
}

.part-btn {
    margin:8% auto 0 auto;
    background: url("../img/icon2Big.png") center no-repeat;
    background-size: 100% 100%;
}

/** 游戏暂停 **/
.stop {
    position: absolute;
    bottom: 10%;
    right: 7%;
    width: 6%;
    display: block;

}
/**  游戏时间 **/
.time-box {
    position: absolute;
    bottom: 10%;
    left: 7%;
    text-align: center;
    display: block;

}

.time-box p {
    margin: 0 auto 0 auto;
    background: url("../img/daojishi.png") top center no-repeat;
    background-size: 100% 100%;
    color: #333;
}

.time-box p span {
    color: #333;
}
